.login {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	visibility: hidden;

	background-color: rgba(0, 0, 0, 0.241);
}

.login-content {
	width: 300px;
	height: 300px;
	background-color: white;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 30px;
}

.open {
	opacity: 1;
	visibility: visible;
}
