.full-item{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000000a4;
	z-index: 9999;
	overflow: auto;
}

.full-item > div{
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 40px 30px;
	background: #fff;
	border-radius: 9px;
}
.full-item img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	transition: trancform 500ms ease;
	cursor: pointer;
}
.add-to-cart {
	display: flex;
	margin-top: 20px;
	margin-left: 550px;
	flex-direction: row-reverse;
	column-gap: 10px;
}