.contacts__inner{
	display: flex;
	column-gap: 50px;
	align-items: flex-start;
}
.contacts__list{
	padding: 20px;
	min-width: 500px;
	border: 1px solid #E0E0E0;
   	margin-top: 70px;
	margin-left: 150px;
}
.contacts__list ul{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.contacts-title{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.15em;
	color: #000000;
	text-transform: uppercase;
	
}
.contacts__item{
	color: #5A5A5A;
	display: flex;
	column-gap: 20px;
	align-items: center;
}
.contacts-address::before{
	content: '';
	display: block;
	width: 16.5px;
	height: 24px;
}
.contacts-phone::before{
	content: '';
	display: block;
	width: 16px;
	height: 25px;
}
.contacts-mail{
	column-gap: 16px;
}
.contacts-mail::before{
	content: '';
	display: block;
	width: 23.5px;
	height: 22px;
	position: relative;
	margin-left: -3px;
}

.contacts-map{
	width: 100%;
	height: 100%;
}
