.addItem-content {
	width: 300px;
	height: 300px;
	background-color: white;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 30px;
	
}
.addItem-content input {
	border: 1px solid red;
	border-radius: 10px;
	padding: 5px 10px;
}

.addItem-content button {
	background: red;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
}