header{
	position: relative;
}

header .logo{
	font-weight: 600; 
	font-size: 20px;
}

header ul.nav{
	list-style: none;
	display: flex;
	align-items: center;
}

header ul.nav li {
	display: inline;
	margin-left: 25px;
	cursor: pointer;
	transition: opacity 500ms ease;
}

header ul.nav li:hover{
	opacity: 0.5;
}

header .shop-cart-batton{
	cursor: pointer;
	transition: color, transform 500ms ease;
}

header .shop-cart-batton:hover,
header .shop-cart-batton.active{
	color: #dc3d3d;
	transform: scale(1.5);
}

header .shop-cart {
	position: absolute;
	top: 30px;
	right: 0;
	width: 450px;
	background: #fafaff;
	-webkit-box-shadow: 4px 5px 15px -7px #606060;
	box-shadow: 4px 5px 15px -7px #606060;
	z-index: 1000;

	padding: 20px;
	padding-bottom: 0;
	border-radius: 10px;

}

header .shop-cart .empty h2{
	font-size: 20px;
	margin-bottom: 20px;
}

header .shop-cart .item{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

header .shop-cart .item img{
	width: 70px;
	float: left;
	margin-right: 20px;
}

header .shop-cart .item h2{
	font-size: 20px;
	margin-bottom: 10px;
}

header .shop-cart .item b{
	color: #797979;
	font-weight: 600;
}

header .shop-cart .item .delet-icon{
	color: #ca5252;
	float: right;
	position: relative;
	top: -25px;
	cursor: pointer;
	transition: color, transform 500ms ease;
}

header .shop-cart .item .delet-icon:hover{
	color: #dc3d3d;
	transform: scale(1.5);
}

header .shop-cart .summa{
	float: left;
	width: 100%;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}
.exit{
	display: inline-block;
	background: #db5151;
	border-radius: 50px;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid transparent;
	color: #f2f2f2;
}
.add-too{
	background: #f2f2f2;
	border-radius: 50px;
	padding: 10px 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 500ms ease;
}

.header-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
}